// layout04
section.layout_04
	.layoutWrap
		h2.title.hide 
		.detail.hide
		.sliderWrap
			.slidesWrap.fadeOut
				ul.slides
					li
						a.img.imgLoading(href='https://www.juksy.com/archives/59114', target='_blank', data-imgload='https://static.juksy.com/static/600x600/files/articles/59114/cover/581c0c6e48a61.png')
							.linkWrap
								.linkBorder
									span.ch 馬上閱讀
									span.ch.arrow →
						.txtWrap
							a.txt(data-dotdotdot='true', href='https://www.juksy.com/archives/59114', target='_blank')
								h3 舞出你的精彩視野，躍動時刻絕不錯過！
					li
						a.img.imgLoading(href='https://www.juksy.com/archives/59115', target='_blank', data-imgload='https://static.juksy.com/static/600x600/files/articles/59115/cover/581b18ab0435f.png')
							.linkWrap
								.linkBorder
									span.ch 馬上閱讀
									span.ch.arrow →
						.txtWrap
							a.txt(data-dotdotdot='true', href='https://www.juksy.com/archives/59115', target='_blank')
								h3 瞬息萬變，縮時攝影捕捉城市片刻
					li
						a.img.imgLoading(href='https://www.juksy.com/archives/59116', target='_blank', data-imgload='https://static.juksy.com/static/600x600/files/articles/59116/cover/581b195b6e978.png')
							.linkWrap
								.linkBorder
									span.ch 馬上閱讀
									span.ch.arrow →
						.txtWrap
							a.txt(data-dotdotdot='true', href='https://www.juksy.com/archives/59116', target='_blank')
								h3 挑戰自我極限！空拍降落傘全紀實
// layout04 end