// layout05
section.layout_05(data-menu='true')
	.layoutWrap
		.title SELECTED ARTICLES
		h2.detail 感動瞬間，精彩重現
		ul.article
			li.fadeOut
				a.img.imgLoading(href='https://www.juksy.com/archives/59113', target='_blank', data-imgload='https://static.juksy.com/static/600x600/files/articles/59113/cover/581b16acc5c31.png')
					.linkWrap
						.linkBorder
							span.ch 馬上閱讀
							span.ch.arrow →
				.txtWrap
					a.txt(data-dotdotdot='true', href='https://www.juksy.com/archives/59113', target='_blank')
						h3 與天空同高，飛行傘俯視絕美世界
			li.fadeOut
				a.img.imgLoading(href='https://www.juksy.com/archives/59117', target='_blank', data-imgload='https://static.juksy.com/static/600x600/files/articles/59117/cover/581b1a6216631.png')
					.linkWrap
						.linkBorder
							span.ch 馬上閱讀
							span.ch.arrow →
				.txtWrap
					a.txt(data-dotdotdot='true', href='https://www.juksy.com/archives/59117', target='_blank')
						h3 360度的銀白世界！實景體驗極地飛行傘
// layout05 end