// layout05_tag
section.layout_05_tag.layout_05(data-menu='true')
	.layoutWrap(data-engtitle='SELECTED ARTICLES', data-title=' 職人目光，全新視野', data-description='', data-tags='["職人目光"]',data-filter='[59113, 59117, 59114, 59115, 59116]')
// layout05_tag end